In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
path = r"C:\Users\verma\Desktop\Selenium\chromedriver.exe"

In [3]:
driver = webdriver.Chrome(path)

In [4]:
driver.get('https://www.imdb.com/list/ls091520106/')

In [5]:
content=driver.page_source
soup= BeautifulSoup(content)
names=soup.findAll('h3',attrs={'class':'lister-item-header'})
print(len(names))
year=soup.findAll('span',attrs={'class':'lister-item-year text-muted unbold'})
print(len(year))
rating=soup.findAll('div',attrs={'class':'ipl-rating-star small'})
print(len(rating))

100
100
100

In [6]:
Names=[]
Year=[]
Rating=[]

In [7]:
for i in names:
     for k in i.find_all('a'):
        Names.append(k)
Names

[<a href="/title/tt0111161/?ref_=ttls_li_tt">The Shawshank Redemption</a>,
 <a href="/title/tt0068646/?ref_=ttls_li_tt">The Godfather</a>,
 <a href="/title/tt0071562/?ref_=ttls_li_tt">The Godfather: Part II</a>,
 <a href="/title/tt0468569/?ref_=ttls_li_tt">The Dark Knight</a>,
 <a href="/title/tt0050083/?ref_=ttls_li_tt">12 Angry Men</a>,
 <a href="/title/tt0108052/?ref_=ttls_li_tt">Schindler's List</a>,
 <a href="/title/tt0167260/?ref_=ttls_li_tt">The Lord of the Rings: The Return of the King</a>,
 <a href="/title/tt0110912/?ref_=ttls_li_tt">Pulp Fiction</a>,
 <a href="/title/tt0060196/?ref_=ttls_li_tt">The Good, the Bad and the Ugly</a>,
 <a href="/title/tt0137523/?ref_=ttls_li_tt">Fight Club</a>,
 <a href="/title/tt7286456/?ref_=ttls_li_tt">Joker</a>,
 <a href="/title/tt0120737/?ref_=ttls_li_tt">The Lord of the Rings: The Fellowship of the Ring</a>,
 <a href="/title/tt0109830/?ref_=ttls_li_tt">Forrest Gump</a>,
 <a href="/title/tt1375666/?ref_=ttls_li_tt">Inception</a>,
 <a href="/title/tt0080684/?ref_=ttls_li_tt">Star Wars: Episode V - The Empire Strikes Back</a>,
 <a href="/title/tt0167261/?ref_=ttls_li_tt">The Lord of the Rings: The Two Towers</a>,
 <a href="/title/tt0133093/?ref_=ttls_li_tt">The Matrix</a>,
 <a href="/title/tt0073486/?ref_=ttls_li_tt">One Flew Over the Cuckoo's Nest</a>,
 <a href="/title/tt0099685/?ref_=ttls_li_tt">Goodfellas</a>,
 <a href="/title/tt0047478/?ref_=ttls_li_tt">Seven Samurai</a>,
 <a href="/title/tt0114369/?ref_=ttls_li_tt">Se7en</a>,
 <a href="/title/tt0317248/?ref_=ttls_li_tt">City of God</a>,
 <a href="/title/tt0118799/?ref_=ttls_li_tt">Life Is Beautiful</a>,
 <a href="/title/tt0102926/?ref_=ttls_li_tt">The Silence of the Lambs</a>,
 <a href="/title/tt0076759/?ref_=ttls_li_tt">Star Wars: Episode IV - A New Hope</a>,
 <a href="/title/tt0038650/?ref_=ttls_li_tt">It's a Wonderful Life</a>,
 <a href="/title/tt0120815/?ref_=ttls_li_tt">Saving Private Ryan</a>,
 <a href="/title/tt0245429/?ref_=ttls_li_tt">Spirited Away</a>,
 <a href="/title/tt0120689/?ref_=ttls_li_tt">The Green Mile</a>,
 <a href="/title/tt0110413/?ref_=ttls_li_tt">Léon: The Professional</a>,
 <a href="/title/tt0056058/?ref_=ttls_li_tt">Harakiri</a>,
 <a href="/title/tt0816692/?ref_=ttls_li_tt">Interstellar</a>,
 <a href="/title/tt0114814/?ref_=ttls_li_tt">The Usual Suspects</a>,
 <a href="/title/tt0110357/?ref_=ttls_li_tt">The Lion King</a>,
 <a href="/title/tt0120586/?ref_=ttls_li_tt">American History X</a>,
 <a href="/title/tt0088763/?ref_=ttls_li_tt">Back to the Future</a>,
 <a href="/title/tt0253474/?ref_=ttls_li_tt">The Pianist</a>,
 <a href="/title/tt0027977/?ref_=ttls_li_tt">Modern Times</a>,
 <a href="/title/tt0103064/?ref_=ttls_li_tt">Terminator 2: Judgment Day</a>,
 <a href="/title/tt1675434/?ref_=ttls_li_tt">The Intouchables</a>,
 <a href="/title/tt0054215/?ref_=ttls_li_tt">Psycho</a>,
 <a href="/title/tt0172495/?ref_=ttls_li_tt">Gladiator</a>,
 <a href="/title/tt0021749/?ref_=ttls_li_tt">City Lights</a>,
 <a href="/title/tt0407887/?ref_=ttls_li_tt">The Departed</a>,
 <a href="/title/tt2582802/?ref_=ttls_li_tt">Whiplash</a>,
 <a href="/title/tt0064116/?ref_=ttls_li_tt">Once Upon a Time in the West</a>,
 <a href="/title/tt0482571/?ref_=ttls_li_tt">The Prestige</a>,
 <a href="/title/tt4154796/?ref_=ttls_li_tt">Avengers: Endgame</a>,
 <a href="/title/tt0034583/?ref_=ttls_li_tt">Casablanca</a>,
 <a href="/title/tt0095327/?ref_=ttls_li_tt">Grave of the Fireflies</a>,
 <a href="/title/tt0047396/?ref_=ttls_li_tt">Rear Window</a>,
 <a href="/title/tt0095765/?ref_=ttls_li_tt">Cinema Paradiso</a>,
 <a href="/title/tt0078748/?ref_=ttls_li_tt">Alien</a>,
 <a href="/title/tt0082971/?ref_=ttls_li_tt">Raiders of the Lost Ark</a>,
 <a href="/title/tt0209144/?ref_=ttls_li_tt">Memento</a>,
 <a href="/title/tt0078788/?ref_=ttls_li_tt">Apocalypse Now</a>,
 <a href="/title/tt0032553/?ref_=ttls_li_tt">The Great Dictator</a>,
 <a href="/title/tt0405094/?ref_=ttls_li_tt">The Lives of Others</a>,
 <a href="/title/tt4154756/?ref_=ttls_li_tt">Avengers: Infinity War</a>,
 <a href="/title/tt1853728/?ref_=ttls_li_tt">Django Unchained</a>,
 <a href="/title/tt4633694/?ref_=ttls_li_tt">Spider-Man: Into the Spider-Verse</a>,
 <a href="/title/tt0081505/?ref_=ttls_li_tt">The Shining</a>,
 <a href="/title/tt0050825/?ref_=ttls_li_tt">Paths of Glory</a>,
 <a href="/title/tt0910970/?ref_=ttls_li_tt">WALL·E</a>,
 <a href="/title/tt0043014/?ref_=ttls_li_tt">Sunset Blvd.</a>,
 <a href="/title/tt0057012/?ref_=ttls_li_tt">Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb</a>,
 <a href="/title/tt0119698/?ref_=ttls_li_tt">Princess Mononoke</a>,
 <a href="/title/tt0364569/?ref_=ttls_li_tt">Oldboy</a>,
 <a href="/title/tt0051201/?ref_=ttls_li_tt">Witness for the Prosecution</a>,
 <a href="/title/tt1345836/?ref_=ttls_li_tt">The Dark Knight Rises</a>,
 <a href="/title/tt0087843/?ref_=ttls_li_tt">Once Upon a Time in America</a>,
 <a href="/title/tt6751668/?ref_=ttls_li_tt">Parasite</a>,
 <a href="/title/tt0090605/?ref_=ttls_li_tt">Aliens</a>,
 <a href="/title/tt0169547/?ref_=ttls_li_tt">American Beauty</a>,
 <a href="/title/tt2380307/?ref_=ttls_li_tt">Coco</a>,
 <a href="/title/tt5311514/?ref_=ttls_li_tt">Your Name.</a>,
 <a href="/title/tt0112573/?ref_=ttls_li_tt">Braveheart</a>,
 <a href="/title/tt0082096/?ref_=ttls_li_tt">Das Boot</a>,
 <a href="/title/tt1187043/?ref_=ttls_li_tt">3 Idiots</a>,
 <a href="/title/tt0986264/?ref_=ttls_li_tt">Taare Zameen Par</a>,
 <a href="/title/tt0086190/?ref_=ttls_li_tt">Star Wars: Episode VI - Return of the Jedi</a>,
 <a href="/title/tt0114709/?ref_=ttls_li_tt">Toy Story</a>,
 <a href="/title/tt0105236/?ref_=ttls_li_tt">Reservoir Dogs</a>,
 <a href="/title/tt0086879/?ref_=ttls_li_tt">Amadeus</a>,
 <a href="/title/tt5074352/?ref_=ttls_li_tt">Dangal</a>,
 <a href="/title/tt0119217/?ref_=ttls_li_tt">Good Will Hunting</a>,
 <a href="/title/tt0361748/?ref_=ttls_li_tt">Inglourious Basterds</a>,
 <a href="/title/tt0022100/?ref_=ttls_li_tt">M</a>,
 <a href="/title/tt0180093/?ref_=ttls_li_tt">Requiem for a Dream</a>,
 <a href="/title/tt0062622/?ref_=ttls_li_tt">2001: A Space Odyssey</a>,
 <a href="/title/tt0052357/?ref_=ttls_li_tt">Vertigo</a>,
 <a href="/title/tt0338013/?ref_=ttls_li_tt">Eternal Sunshine of the Spotless Mind</a>,
 <a href="/title/tt0033467/?ref_=ttls_li_tt">Citizen Kane</a>,
 <a href="/title/tt0093058/?ref_=ttls_li_tt">Full Metal Jacket</a>,
 <a href="/title/tt2106476/?ref_=ttls_li_tt">The Hunt</a>,
 <a href="/title/tt0053125/?ref_=ttls_li_tt">North by Northwest</a>,
 <a href="/title/tt0066921/?ref_=ttls_li_tt">A Clockwork Orange</a>,
 <a href="/title/tt0208092/?ref_=ttls_li_tt">Snatch</a>,
 <a href="/title/tt0211915/?ref_=ttls_li_tt">Amélie</a>,
 <a href="/title/tt0012349/?ref_=ttls_li_tt">The Kid</a>]

In [8]:
Movies=[]

In [9]:
for i in Names:
    Movies.append(i.text)
Movies

['The Shawshank Redemption',
 'The Godfather',
 'The Godfather: Part II',
 'The Dark Knight',
 '12 Angry Men',
 "Schindler's List",
 'The Lord of the Rings: The Return of the King',
 'Pulp Fiction',
 'The Good, the Bad and the Ugly',
 'Fight Club',
 'Joker',
 'The Lord of the Rings: The Fellowship of the Ring',
 'Forrest Gump',
 'Inception',
 'Star Wars: Episode V - The Empire Strikes Back',
 'The Lord of the Rings: The Two Towers',
 'The Matrix',
 "One Flew Over the Cuckoo's Nest",
 'Goodfellas',
 'Seven Samurai',
 'Se7en',
 'City of God',
 'Life Is Beautiful',
 'The Silence of the Lambs',
 'Star Wars: Episode IV - A New Hope',
 "It's a Wonderful Life",
 'Saving Private Ryan',
 'Spirited Away',
 'The Green Mile',
 'Léon: The Professional',
 'Harakiri',
 'Interstellar',
 'The Usual Suspects',
 'The Lion King',
 'American History X',
 'Back to the Future',
 'The Pianist',
 'Modern Times',
 'Terminator 2: Judgment Day',
 'The Intouchables',
 'Psycho',
 'Gladiator',
 'City Lights',
 'The Departed',
 'Whiplash',
 'Once Upon a Time in the West',
 'The Prestige',
 'Avengers: Endgame',
 'Casablanca',
 'Grave of the Fireflies',
 'Rear Window',
 'Cinema Paradiso',
 'Alien',
 'Raiders of the Lost Ark',
 'Memento',
 'Apocalypse Now',
 'The Great Dictator',
 'The Lives of Others',
 'Avengers: Infinity War',
 'Django Unchained',
 'Spider-Man: Into the Spider-Verse',
 'The Shining',
 'Paths of Glory',
 'WALL·E',
 'Sunset Blvd.',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 'Princess Mononoke',
 'Oldboy',
 'Witness for the Prosecution',
 'The Dark Knight Rises',
 'Once Upon a Time in America',
 'Parasite',
 'Aliens',
 'American Beauty',
 'Coco',
 'Your Name.',
 'Braveheart',
 'Das Boot',
 '3 Idiots',
 'Taare Zameen Par',
 'Star Wars: Episode VI - Return of the Jedi',
 'Toy Story',
 'Reservoir Dogs',
 'Amadeus',
 'Dangal',
 'Good Will Hunting',
 'Inglourious Basterds',
 'M',
 'Requiem for a Dream',
 '2001: A Space Odyssey',
 'Vertigo',
 'Eternal Sunshine of the Spotless Mind',
 'Citizen Kane',
 'Full Metal Jacket',
 'The Hunt',
 'North by Northwest',
 'A Clockwork Orange',
 'Snatch',
 'Amélie',
 'The Kid']

In [10]:
df=pd.DataFrame(Movies)
df=df.rename({0:'Movie Name'},axis=1)
df

                  Movie Name
0   The Shawshank Redemption
1              The Godfather
2     The Godfather: Part II
3            The Dark Knight
4               12 Angry Men
..                       ...
95        North by Northwest
96        A Clockwork Orange
97                    Snatch
98                    Amélie
99                   The Kid

[100 rows x 1 columns]

In [11]:
for i in year:
    Year.append(i.text)
Year

['(1994)',
 '(1972)',
 '(1974)',
 '(2008)',
 '(1957)',
 '(1993)',
 '(2003)',
 '(1994)',
 '(1966)',
 '(1999)',
 '(2019)',
 '(2001)',
 '(1994)',
 '(2010)',
 '(1980)',
 '(2002)',
 '(1999)',
 '(1975)',
 '(1990)',
 '(1954)',
 '(1995)',
 '(2002)',
 '(1997)',
 '(1991)',
 '(1977)',
 '(1946)',
 '(1998)',
 '(2001)',
 '(1999)',
 '(1994)',
 '(1962)',
 '(2014)',
 '(1995)',
 '(1994)',
 '(1998)',
 '(1985)',
 '(2002)',
 '(1936)',
 '(1991)',
 '(2011)',
 '(1960)',
 '(2000)',
 '(1931)',
 '(2006)',
 '(2014)',
 '(1968)',
 '(2006)',
 '(2019)',
 '(1942)',
 '(1988)',
 '(1954)',
 '(1988)',
 '(1979)',
 '(1981)',
 '(2000)',
 '(1979)',
 '(1940)',
 '(2006)',
 '(2018)',
 '(2012)',
 '(2018)',
 '(1980)',
 '(1957)',
 '(2008)',
 '(1950)',
 '(1964)',
 '(1997)',
 '(2003)',
 '(1957)',
 '(2012)',
 '(1984)',
 '(2019)',
 '(1986)',
 '(1999)',
 '(I) (2017)',
 '(2016)',
 '(1995)',
 '(1981)',
 '(2009)',
 '(2007)',
 '(1983)',
 '(1995)',
 '(1992)',
 '(1984)',
 '(2016)',
 '(1997)',
 '(2009)',
 '(1931)',
 '(2000)',
 '(1968)',
 '(1958)',
 '(2004)',
 '(1941)',
 '(1987)',
 '(2012)',
 '(1959)',
 '(1971)',
 '(2000)',
 '(2001)',
 '(1921)']

In [12]:
df1=pd.DataFrame(Year)
df1[0]=df1[0].str.replace('I', ' ')
df1=df1.rename({0:'Year'},axis=1)
df1

      Year
0   (1994)
1   (1972)
2   (1974)
3   (2008)
4   (1957)
..     ...
95  (1959)
96  (1971)
97  (2000)
98  (2001)
99  (1921)

[100 rows x 1 columns]

In [13]:
for i in rating:
    Rating.append(i.text)
Rating

['\n\n\n\n\n\n\n\n9.3\n',
 '\n\n\n\n\n\n\n\n9.2\n',
 '\n\n\n\n\n\n\n\n9\n',
 '\n\n\n\n\n\n\n\n9\n',
 '\n\n\n\n\n\n\n\n8.9\n',
 '\n\n\n\n\n\n\n\n8.9\n',
 '\n\n\n\n\n\n\n\n8.9\n',
 '\n\n\n\n\n\n\n\n8.9\n',
 '\n\n\n\n\n\n\n\n8.8\n',
 '\n\n\n\n\n\n\n\n8.8\n',
 '\n\n\n\n\n\n\n\n8.5\n',
 '\n\n\n\n\n\n\n\n8.8\n',
 '\n\n\n\n\n\n\n\n8.8\n',
 '\n\n\n\n\n\n\n\n8.8\n',
 '\n\n\n\n\n\n\n\n8.7\n',
 '\n\n\n\n\n\n\n\n8.7\n',
 '\n\n\n\n\n\n\n\n8.7\n',
 '\n\n\n\n\n\n\n\n8.7\n',
 '\n\n\n\n\n\n\n\n8.7\n',
 '\n\n\n\n\n\n\n\n8.6\n',
 '\n\n\n\n\n\n\n\n8.6\n',
 '\n\n\n\n\n\n\n\n8.6\n',
 '\n\n\n\n\n\n\n\n8.6\n',
 '\n\n\n\n\n\n\n\n8.6\n',
 '\n\n\n\n\n\n\n\n8.6\n',
 '\n\n\n\n\n\n\n\n8.6\n',
 '\n\n\n\n\n\n\n\n8.6\n',
 '\n\n\n\n\n\n\n\n8.6\n',
 '\n\n\n\n\n\n\n\n8.6\n',
 '\n\n\n\n\n\n\n\n8.5\n',
 '\n\n\n\n\n\n\n\n8.6\n',
 '\n\n\n\n\n\n\n\n8.6\n',
 '\n\n\n\n\n\n\n\n8.5\n',
 '\n\n\n\n\n\n\n\n8.5\n',
 '\n\n\n\n\n\n\n\n8.5\n',
 '\n\n\n\n\n\n\n\n8.5\n',
 '\n\n\n\n\n\n\n\n8.5\n',
 '\n\n\n\n\n\n\n\n8.5\n',
 '\n\n\n\n\n\n\n\n8.5\n',
 '\n\n\n\n\n\n\n\n8.5\n',
 '\n\n\n\n\n\n\n\n8.5\n',
 '\n\n\n\n\n\n\n\n8.5\n',
 '\n\n\n\n\n\n\n\n8.5\n',
 '\n\n\n\n\n\n\n\n8.5\n',
 '\n\n\n\n\n\n\n\n8.5\n',
 '\n\n\n\n\n\n\n\n8.5\n',
 '\n\n\n\n\n\n\n\n8.5\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.5\n',
 '\n\n\n\n\n\n\n\n8.5\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.5\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.6\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.3\n']

In [14]:
df2= pd.DataFrame(Rating)
df2[0]=df2[0].str.replace('\n',' ')
df2=df2.rename({0:'Rating'},axis=1)
df2

          Rating
0           9.3
1           9.2
2             9
3             9
4           8.9
..           ...
95          8.3
96          8.3
97          8.3
98          8.3
99          8.3

[100 rows x 1 columns]

In [25]:
IMDB_Movies= pd.DataFrame({})
IMDB_Movies['Movies']=Movies
IMDB_Movies['Year']=Year
IMDB_Movies['Rating']=df2

In [26]:
IMDB_Movies

                      Movies    Year        Rating
0   The Shawshank Redemption  (1994)          9.3
1              The Godfather  (1972)          9.2
2     The Godfather: Part II  (1974)            9
3            The Dark Knight  (2008)            9
4               12 Angry Men  (1957)          8.9
..                       ...     ...           ...
95        North by Northwest  (1959)          8.3
96        A Clockwork Orange  (1971)          8.3
97                    Snatch  (2000)          8.3
98                    Amélie  (2001)          8.3
99                   The Kid  (1921)          8.3

[100 rows x 3 columns]

# Saving IMDB Top Rated Movies Data in csv file

In [27]:
IMDB_Movies.to_csv("IMDB_Top_100_Movies.csv")