In [8]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
from time import sleep
from random import randint

In [2]:
path = r"C:\Users\verma\Desktop\Selenium\chromedriver.exe"

In [3]:
driver = webdriver.Chrome(path)

In [4]:
pages = np.arange(1, 151, 25)
Job_Name=[]
Company_Name= []
Location=[]

In [6]:
for page in pages:
    
    
    page="https://www.monsterindia.com/srp/results?start=" + str(page) + "&sort=1&limit=25&query=software%20developer&searchId=c80f9184-1d1f-4be5-bd1c-4d72ac67d089"
   
    driver.get(page)  
    sleep(randint(2,10))
    soup = BeautifulSoup(driver.page_source, 'html.parser')
    
    
    my_table = soup.find_all('span' , class_='company-name') if soup.find_all('span', class_='company-name') else '-'

    for tag in my_table:
        Company_Name.append(tag.get_text())
        
        

        
        
    hb = soup.find_all('div' , class_='col-xxs-12 col-sm-5 text-ellipsis')  if soup.find_all('div', class_='col-xxs-12 col-sm-5 text-ellipsis') else '-'
    
    for tb in  hb:
        Location.append(tb.get_text())
        
        
    lo= soup.find_all('h3' , class_='medium') if soup.find_all('h3', class_='medium') else '-'
    
    for hj in lo:
        Job_Name.append(hj.get_text())

In [9]:
Software_Developer_jobs = pd.DataFrame({'Company Name': Company_Name,'Job Name': Job_Name,'Location': Location})

Software_Developer_jobs

,Company Name,Job Name,Location
0,AasaanJobs Private Limited,Dotnet Web Developer,\n Surat\n ...
1,Ksolves India Limited,Software Developer - Immediate Joiner,\n Noida\n ...
2,Innobox Systems Private Limited,Permanent Opportunity at Innobox Systems - Doc...,\n Bengaluru /...
3,Acute Informatics Private Limited,Plsql Developer,\n Ahmedabad\n...
4,Gunank Technologies Private Limited,Software Developer,\n Singrauli\n...
...,...,...,...
145,MITS Solution,Guidewire Developer,"\n Chennai, Hy..."
146,MITS Solution,AWS Architecture,"\n Chennai, Hy..."
147,Dtech World,Software Developer,\n Pune\n ...
148,A V Immigration And Careers Consultancy Privat...,Software Engineers - Australia/Canada,"\n Australia, ..."
149,A V Immigration And Careers Consultancy Privat...,Software Engineers - Australia/Canada,"\n Australia, ..."

In [10]:
Software_Developer_jobs['Location']=Software_Developer_jobs['Location'].str.replace("\n" , " ")

In [11]:
Software_Developer_jobs

,Company Name,Job Name,Location
0,AasaanJobs Private Limited,Dotnet Web Developer,Surat ...
1,Ksolves India Limited,Software Developer - Immediate Joiner,Noida ...
2,Innobox Systems Private Limited,Permanent Opportunity at Innobox Systems - Doc...,Bengaluru / ...
3,Acute Informatics Private Limited,Plsql Developer,Ahmedabad ...
4,Gunank Technologies Private Limited,Software Developer,Singrauli ...
...,...,...,...
145,MITS Solution,Guidewire Developer,"Chennai, Hyd..."
146,MITS Solution,AWS Architecture,"Chennai, Hyd..."
147,Dtech World,Software Developer,Pune ...
148,A V Immigration And Careers Consultancy Privat...,Software Engineers - Australia/Canada,"Australia, C..."
149,A V Immigration And Careers Consultancy Privat...,Software Engineers - Australia/Canada,"Australia, C..."

# Saving Software_Developer Jobs to Csv file

In [12]:
Software_Developer_jobs.to_csv("Software_Developer_Jobs.csv")